<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ledgerangularspring.mapper.LedgerMapper">

    <insert id="create" parameterType="java.util.List">
        INSERT INTO ledger_master
        (
          `stnd_date`
        , `item_code`
        , `note`
        , `income`
        , `expenditure`
        , `balance`
        )
        VALUES
        <foreach item="item" index="index" collection="param" open="(" separator="),("  close=")">
             #{item.stndDate}
            ,#{item.itemCode}
            ,#{item.note}
            ,#{item.income}
            ,#{item.expenditure}
            ,#{item.balance}
        </foreach>
    </insert>
    
    <select id="read" parameterType="String" resultType="com.example.ledgerangularspring.domain.LedgerVO">
        SELECT lm.id
              ,lm.sequence
              ,lm.stnd_date
              ,lm.item_code
              ,cc.dtl_code_name AS itemName
              ,lm.note
              ,lm.income
              ,lm.expenditure
              ,lm.balance
          FROM ledger_master lm
          LEFT OUTER JOIN common_code cc
                       ON cc.div_code = 'LEDGER01' AND lm.item_code = cc.dtl_code
         WHERE DATE_FORMAT(lm.stnd_date, '%Y-%m') = #{date}
          ORDER BY lm.stnd_date, sequence ASC
    </select>

    <insert id="insertLedger" parameterType="java.util.List">
        INSERT INTO ledger_master (
         id
        ,sequence
        ,stnd_date
        ,item_code
        ,note
        ,income
        ,expenditure
        ,balance
        )
        VALUES
        <foreach collection="param" item="item" open="(" separator="),("  close=")">
             #{item.id}
            ,#{item.sequence}
            ,#{item.stndDate}
            ,#{item.itemCode}
            ,#{item.note}
            ,#{item.income}
            ,#{item.expenditure}
            ,#{item.balance}
        </foreach>
        ON DUPLICATE KEY UPDATE
         sequence    = values(sequence)
        ,stnd_date   = values(stnd_date)
        ,item_code   = values(item_code)
        ,note        = values(note)
        ,income      = values(income)
        ,expenditure = values(expenditure)
        ,balance     = values(balance)
    </insert>
</mapper>