<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ledgerangularspring.mapper.LedgerMapper">

    <insert id="create" parameterType="java.util.List">
        INSERT INTO ledger_master
        (
          `stnd_date`
        , `item_code`
        , `note`
        , `income`
        , `expenditure`
        , `balance`
        )
        VALUES
        <foreach item="item" index="index" collection="param" open="(" separator="),("  close=")">
             #{item.stndDate}
            ,#{item.itemCode}
            ,#{item.note}
            ,#{item.income}
            ,#{item.expenditure}
            ,#{item.balance}
        </foreach>
    </insert>
    
    <select id="read" resultType="com.example.ledgerangularspring.domain.LedgerVO">
        SELECT lm.id
              ,lm.stnd_date
              ,lm.item_code
              ,cc.dtl_code_name AS itemName
              ,lm.note
              ,lm.income
              ,lm.expenditure
              ,lm.balance
          FROM ledger_master lm
          LEFT OUTER JOIN common_code cc
                       ON cc.div_code = 'LEDGER01' AND lm.item_code = cc.dtl_code
          ORDER BY lm.stnd_date, id ASC
    </select>

</mapper>