<div class="login">
  <div class="ui middle aligned center aligned grid login_container">
    <div class="column">
      <h2 class="ui image header">
        <div class="content">
          LEDGER
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked" style="margin-bottom: 20px;">
          <div class="field">
            <div class="ui left icon input">
              <input style="padding-left: 20px !important;" type="text" name="email" placeholder="이메일" />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input style="padding-left: 20px !important;" type="password" name="password" placeholder="비밀번호" />
            </div>
          </div>
          <div class="ui fluid large submit button" style="background-color: #197cfe; color: #ffffff;">로그인</div>
        </div>

        <div class="ui error message"></div>
      </form>

      <div class="ui btn_group"><div class="ui fluid large button">회원가입</div></div>
    </div>
  </div>
</div>
