<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
<link rel="stylesheet" href="https://uicdn.toast.com/select-box/latest/toastui-select-box.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<div id="mask" #mask></div>
<div id="loader" #loader></div>
<div class="ui three column grid" id="gnb">
    <div class="column">
        <button class="ui labeled icon button" (click)="onBack()">
            <i class="left chevron icon"></i>
            Back
        </button>
    </div>
    <div class="column">
        <div style="text-align: center;">
            <h1>{{year}}년 {{month}}월 회계</h1>
        </div>
    </div>
    <div class="column">
        <div style="display: flex; justify-content: flex-end;">
            <button class="ui labeled icon button" (click)="onForward()">
                <i class="right chevron icon"></i>
                Forward
            </button>
        </div>

    </div>
</div>
<div class="ui modal" #saveModal>
    <div class="header">
        현재 입력된 회계 정보를 저장할까요?
    </div>
    <div class="actions">
        <div class="ui black deny button" (click)="onSaveModalNo()">
            아니오
        </div>
        <div class="ui positive right labeled icon button" (click)="onSaveModalYes()">
            네
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" #deleteModal>
    <div class="header">
        선택된 행을 삭제하시겠습니까?
    </div>
    <div class="actions">
        <div class="ui black deny button" (click)="onDeleteModalNo()">
            아니오
        </div>
        <div class="ui positive right labeled icon button" (click)="onDeleteModalYes()">
            네
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" #noSelectionModal>
    <div class="header">
        선택된 행이 없습니다.<br> 삭제할 행을 선택해주세요.
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button" (click)="onNoSelectionModalCheck()">
            확인
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div #grid></div>
<div id="bottom-buttons">
    <button class="ui green button" (click)="onRowAdd()">행추가</button>
    <button class="ui teal button" (click)="onSave()">저장</button>
    <button class="ui yellow button" (click)="onCalculate()">잔고 재계산</button>
    <button class="ui blue button" (click)="onDelete()">삭제</button>
</div>

